/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* common styles  */
body{
    font-family: 'Poppins', sans-serif;
}
.honda-bg-info{
    background-color: #264653;
}
.honda-btn-button{
    background-color: #E76F51;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 168px;
    height: 44px;
}
.font-color{
    color:  #E76F51;
}
.text-color{
    color: #23A6F0;
}
.filter-gray{
    filter: grayscale(100%);
}